@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #111827;
  --border: #e5e7eb;
  --bg-column: #f3f4f6;
  --bg-column-hover: #e5e7eb;
}

[data-theme="dark"] {
  --bg: #111827;
  --text: #f3f4f6;
  --border: #374151;
  --bg-column: #1f2937;
  --bg-column-hover: #374151;
}
